



.App {
  display:grid;
  background-position: center;
  /*background-color: rgba(101, 155, 226, 0.712);*/
  background-image: url(C:\New folder\Desktop\web-projects\my-website\src\images\sun_bear_8-2042856911.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 3vh;
  background: transparent;
  text-indent:53%;
  opacity: inherit;
  height:fit-content
}



.navbar ul { 
  display: grid;
  list-style: none;
  opacity: 1.0;
  justify-content:left;
  padding: 130px 0;
  gap: 34px

}

.navbar a{
  text-decoration: none;
  font-family: "Anton", sans-serif;
  padding: 11px 39px;
  font-size: 67px;
  color:white;
  text-align: center;
  position: relative;
  ;
}

.navbar a:hover{
  opacity:0.7;
  color: rgb(81, 101, 218);
}

li:hover{
  transform:scale(1.5);
}


.newsflash{
  display: grid;
   justify-content:right;
  
}
.App-link {
  color: #61dafb;
}

